/*----------------*/
/* Custom Reset   */
/*----------------*/

/* Box-sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Margins */

* {
    margin: 0;
    padding: 0;
}

/* Set up the Body */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Change default weights of text to 400 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Max Width */

img,
picture {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Accessiblity: Turn Animation off */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
